
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.post-title {
    padding: 20px 20px;
    margin: 0 5px  10px 5px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-footer {
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,.0975);
    margin: 10px 5px  5px 5px;
}

.post-date {
    float: right;
    font-size: 1rem;
}

.post-like-comments {
    float: right;
}

.post-thumb {
    margin: 0;
    padding: 3px;
    width: 150px;
    height: 150px;
    border: 2px solid snow;
}

.post-image {
    margin: 0px 10px;
    width: 620px;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* To override some of the styles of bootstrap */
button.btn {
   font-size: 1em;
   border-radius: 0.5em;
}

#output {
  border: 2px #EBEBEB solid;
  border-radius: 25px;
  min-height: 100px;
  padding: 2rem;
}

nav ul.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
}

li.nav-item {
  margin: 5px 10px;
  padding: 5px 10px;
}

/* Add your styles here */
.not-auth .req-auth {
    display: none;
}

.auth .req-anon {
    display: none;
}

.login-form, .register-form {
    margin: 20px auto;
    max-width: 150px;
    text-align: center;
}

.login-form input, 
.register-form input {
    max-width: 150px;
}

.login-form input,
.login-form div,
.register-form input,
.register-form div  {
    margin: 0 0 10px 0;
}

.badge {
  padding: 3px 7px;
  background-color: #777777;
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.clickable, .clickable-name {
  cursor: pointer;
}

.clickable:hover,
.clickable-name:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 20px #9ecaed;
}

.modal .clickable {
  cursor: initial;
}

.modal .clickable:hover {
  border-color: initial;
  box-shadow: initial;
}

.comment-div {
  border: dotted 1px;
  padding: 5px;
  margin-bottom: 5px;
}

#new-comment-div {
  width: 100%;
}

#new-comment-div input {
  line-height: 42px;
}

#new-comment-div button {
  float: right;
}

.profile-div {
  width: 100%;
}

.profile-div fieldset {
  width: 100%;
  border: solid 1px;
}

.profile-div legend {
  width: initial;
  padding: 0px 5px;
  margin-bottom: 0;
}

.spaced-item {
  padding: 0px 0px 5px 10px;
}

#update-profile-button {
  float: right;
  margin: 5px;
}

.modal .post-image {
  max-width: 96%;
  margin: 0 2%;
}

.modal .post-title {
  padding: 10px 15px;
  font-size: 1.5rem;
}

.modal-footer button {
  margin-left: 10px;
}

#message-box {
  width: 640px;
  margin: 10px auto;
}

input {
  padding: 0px 5px;
}

.main-nav .nav-item {
  min-width: 105px;
}

button.follow-btn {
  font-size: 1em;
  padding: 0px 3px;
  margin-top: 3px;
  margin-left: 10px;
}

.btn-edit-post {
  margin: 10px;
  float: right;
}